html{
    background-color: #FEE; 
}

*{
    margin: 0 auto;
}

.body {
    width: 100%;
    max-width:1280px;
    height: 1196px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto;
    box-sizing: border-box;
    min-height: 100vh;
}

header{
    max-width: 1280px;
    width:100%;
    max-height: 195px;
    height:auto;
    flex-shrink: 0;
    background: #A44A4A;
}


.box{
    width:90%;
    height: 4.3%;
    flex-shrink: 0;
    flex-direction: row;
}
.logo{
    max-width:396px;
    width: 30%;
    height: auto;
    flex-shrink: 0;
    margin-left:3.9%;
    margin-top:5.6%;
    margin-bottom:5.7%;
}





nav{
    display: flex;
    flex-direction: row;
    list-style:none;
    width:100%;
    max-width:1280px;
    height:5.1%;
    
    
}



.menu-toggle {
    cursor: pointer;
    display: none;
    margin-left:95%;
    margin-top:-20px;
    padding-bottom:10px;
    
  }

  
a{
    text-decoration: none;
    color:inherit;
}
  
.menu-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #FEE;
    margin: 6px 0;
  }

.backhome,.Aboutus,.Diagnosis,.Book,.recruit{
    font-size:30px;
    color: #A44A4A;
    font-weight:900;
    padding-top:1.2%;
    padding-bottom:1.2%;
    margin-left:27%;
    
}

.backhome-box,.aboutus-box,.Diagnosis-box,.book-box,.recruit-box{
    background-color: #EFCFCF;
    width: 20%;
    height:5.7%;
    
}

.Diagnosis,.Book{
    margin-left:37.5%;

}

.recruit{
    margin-left:35%;
}


.backhome-box:hover,.aboutus-box:hover,.Diagnosis-box:hover,.book-box:hover,.recruit-box:hover{
    
    align-items: center;
    background-color:#EAB0B0;
}

.story{
    max-width: 922px;
    width: 72%;
    height: 60%;
    flex-shrink: 0;
    border-radius: 25px;
    background: #FFF;
    margin-top:5%;
    margin-bottom:5%;
}

.row{
    width: 95%;
    height: 40%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
}
.word{
    width: 46.8%;
    height: 16.5%;
    flex-shrink: 0;
    margin-top:15.2%;
    margin-right:5%;
}

.older{
    width: 53.1%;
    height: 100%;
    flex-shrink: 0;
}

.text{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left:8.4%;
    margin-right:11.8%;
    margin-top:3.2%;
}

hr{
    max-width:410px;
    width:100%

}

.text1{
    font-size:27px;
}
.text2{
    font-size:27px;

}
.text3{
    width: 92%;
    height: 46.5%;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 3.3%;
}

.hero{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom:3.2%;
    margin-left:16.3%;
    margin-right:21.4%;
}


footer{
    max-width: 1280px;
    width:100%;
    max-height: 195px;
    height: auto;
    flex-shrink: 0;
    background: #A44A4A;
    position: relative;
    bottom:0
}



.footer{
color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top:3%;
padding-bottom:3%;
margin-left:36.7%;
margin-right:36.7%;
display: flex;
align-items: center;
}


 
    
    @media only screen and (max-width: 768px) {
        .menu {
          display: none;
          flex-direction: column;
          position: absolute;
          margin-top:0;
          left: 0;
          width: 100%;
          height: auto;
        }


        .backhome-box,.aboutus-box,.Diagnosis-box,.book-box,.recruit-box{
            background-color:#EFCFCF;
            width: 100%;
            height:5.7%;
            
        }
      
      
        .menu.show {
          display: flex;
        }
      
        .menu-toggle {
          display: block;
          
         
        }

        .backhome,.Aboutus,.Diagnosis,.Book,.recruit{
            font-size:30px;
            color: #A44A4A;
            font-weight:900;
            padding-top:1.2%;
            padding-bottom:1.2%;
            margin-left:43%;
            
        }

   
        .Diagnosis,.Book{
            margin-left:46%;
        
        }

        .recruit{
            margin-left:44%;
        }
      
        
        .menu li {
          font-size: 1.5em;
          color: #A44A4A;
          font-weight: 900;
          padding: 10px;
        }
         
       
        
        .text1{
            font-size:20px;
        }
        .text2{
            font-size:18px;
        }

        .text3{
            font-size:20px;
        }

        hr{
            max-width:200px;
            width:100%
        
        }

        .footer{
            font-size:15px;
            position: relative;
            bottom: 0;
        }

        footer{
            font-size:15px;
            position: relative;
            bottom: 0;
        }
        
        
 }

 @media only screen and (max-width: 390px){

    .row{
        flex-direction: column;
         
    }

   .word{
    flex-direction: column;
    margin-right:23%;
    margin-top:1%;
   }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        margin-top:0;
        left: 0;
        background-color:#000;
        width: 100%;
        height: auto;
      }
    
      .menu.show {
        display: flex;
      }
    
      .menu-toggle {
        display: block;
       
        
       
      }

      .backhome,.Aboutus,.Diagnosis,.Book,.recruit{
        font-size:30px;
        color: #A44A4A;
        font-weight:900;
        padding-top:1.2%;
        padding-bottom:1.2%;
        margin-left:34.6%;
        
    }

    .Diagnosis,.Book{
        margin-left:42%;
    
    }

    .recruit{
        margin-left:38%;
    }
    
      
      .menu li {
        font-size: 1.5em;
        color: #A44A4A;
        font-weight: 900;
        padding: 10px;
      }

      .older{
        width: 80%;
        height: 100%;
        flex-shrink: 0;
    }
      .hero{
        font-size:19px;
      }
      
      .text1{
          font-size:20px;
      }
      .text2{
        margin-left:0.8%;
          font-size:15px;
      }

      .text3{
          font-size:16px;
          margin-top:5%;
          padding:5%;
      }

      hr{
          max-width:200px;
          width:100%
      
      }

      .footer{
          font-size:8px;
      }
      
}




